@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* start styling navigation bar  */
header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    /* بتخليه ثابت */
    z-index: 2022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    flex-wrap: wrap;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: black;
}

/* end styling navigation bar  */

/* start styling main section  */
section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #cde4fa;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #3a6cf4;
    font-size: 1.8em;
    font-weight: 600;

}

.main h3 {
    color: #cde4fa;
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: white;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.6s ease;
    /* بتخليه يعمل التحوول براحه او في غضون 0.6 ثانيه */
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.2);
    /* بتكبر الحاجه زيها 1.1 مره */
}

.social-icons a {
    color: white;
    font-size: 1.7em;
    margin-right: 70px;
}

/* end styling main section  */

/* start styling commen fileds and servises section  */

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    transition: 0.6s ease;
    /* height: 200px; */
}

.card:hover {
    transform: scale(1.2);
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/* end styling commen fileds and servises section */

/* start styling  project section */
.projects {
    background-color: #000016;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-img {
    opacity: 0.9;
}

.project-img img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8 em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #0a49f6;
}

.more-details:hover {
    color: #601cfc;
}

/* end styling  project section */

.certifications {
    background: #fff;
}

.certifications .content {
    margin-top: 30px;
}

.certifications-card {
    background-color: #fff;
    border: 1px solid #000016;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    box-shadow: 0 5px 31px rgb(1 1 1 / 32%);
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.certifications-card:hover {
    transform: scale(1.1);
}

.certifications-card:hover .certifications-img {
    opacity: 0.9;
}

.certifications-img img {
    width: 100%;
}

.certifications-info {
    padding: 1em;
    text-align: center;
}

.certifications-category {
    font-size: 0.8 em;
    color: #000;
}

/* start styling  contact section */


.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.2em;
}

/* end styling  contact section */

/* start styling footer  */
.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

/* end styling footer  */

@media (max-width:1023px) {
    header {
        padding: 13px 20px;
    }

    .navigation a {
        padding-left: 10px;
        font-size: 0.7em;
        font-weight: 800;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;

    }

    .footer .social-icons a {
        margin-right: 40px;
    }
}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }

    .navigation a {
        padding-left: 10px;
        font-size: 0.7em;
        font-weight: 800;
    }


    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .footer .social-icons a {
        margin-right: 40px;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;

    }

    .navigation a {
        padding-left: 10px;
        font-size: 0.7em;
        font-weight: 800;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .footer .social-icons a {
        margin-right: 40px;
    }
}